@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #navbar {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #profile,
    .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0.5%;
    }
}

@media screen and (max-width: 767px) {
    * {
        max-width: 760px;
    }
    /* Styles specifically for mobile devices */
    .section-pic-container {
        margin-bottom: 20px;
    }
    #about {
        margin-top: 270px;
    }
    #skills {
        margin-top: 50px;
    }
    #timeline {
        display: none;
    }
}

